<div class="Services-container">

    <div class="top-buttons">
        <div class="right-buttons">
            <button>Reservation Type</button>
            <button>Sub Services</button>
        </div>
        <div class="left-buttons">
            <button class="add-services">Add Services</button>
            <button class="more-h"><img src="./Imgs/1.svg" alt=""></button>
        </div>

    </div>
    <br>
    <div class="services-search-div">
        <input type="search" placeholder="search...">
        <button class="more-h"><img src="./Imgs/1.svg" alt=""></button>
    </div>

    <br>
    <hr>
    <div class="Services-title">
        <p>Service</p>
        <p>Price</p>
        <p>Secretary discount</p>
        <p>Options</p>

    </div>
    <hr>
    <div class="services-div">


        <ClinicServicesComponent services="service1"></ClinicServicesComponent>
        <ClinicServicesComponent services="service2"></ClinicServicesComponent>
        <ClinicServicesComponent services="service3"></ClinicServicesComponent>
        <ClinicServicesComponent services="service4"></ClinicServicesComponent>
        <ClinicServicesComponent services="service5"></ClinicServicesComponent>
        <ClinicServicesComponent services="service6"></ClinicServicesComponent>

    </div>


</div>