.clinic-settings-main-container {
    font-family: 'Poppins';
    display: flex;
    width: calc(100% - 250px);
    height: 100%;
    padding: 10px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 250px;
    background-color:white;
}

.page-location {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    color: rgba(148, 153, 161, 1);
}

.Clinics-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 33%;
    transform: translate(0px, 21px);
}

.Clinics-buttons-container button {
    height: 40px;
    border: 0;
    color: rgba(71, 84, 103, 1);
    background: white;
}

    .Clinics-buttons-container button:focus {
        background-color: rgba(1, 126, 245, 1);
        color: rgba(255, 255, 255, 1);
    }

/****************************/
.services-main-div{
    display:flex;
    width:100%;
    justify-content:space-between;
    padding:10px;
}
/****************************************/
.services-left-div {
    background-color: white;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.Services-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 100%;
    border-radius: 6px;
}
.more-h {
    width: 38px;
    height: 38px;
    background: rgba(248, 249, 250, 1);
    border: 0;
    border-radius: 4px;
}
/***********************************************************************/
.top-buttons {
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.right-buttons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding:10px
}

.right-buttons button:nth-of-type(1) {
    background-color: rgba(249, 245, 255, 1);
    border: 0;
    border-radius: 6px;
    color: rgba(1, 126, 245, 1);
    font-size: 17px;
}

.right-buttons button:nth-of-type(2) {
    background-color: rgba(249, 245, 255, 1);
    border: 0;
    border-radius: 6px;
    color: rgba(1, 126, 245, 1);
    font-size: 17px;
}

    .right-buttons button:focus {
        background-color: rgba(1, 126, 245, 1);
        color: rgba(255, 255, 255, 1);
    }
/***************************************/
.left-buttons {
    display: flex;
    width: 20%;
    justify-content: space-between;
    padding: 10px;
}

.add-services {
    background-color: rgba(1, 126, 245, 1);
    border: 0;
    color: white;
    border-radius: 9px;
    height: 100%;
    width: 69%;
}

.services-search-div {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 99%;
}



input[type="search"] {
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 6px;
    font-family: 'Inter';
    font-size: 14px;
    color: #9499A1;
    width: 35%;
    padding: 11px;
    border:1px solid;
}
input[type="search"]:focus {
    outline:1px solid;
}

/**************************************************************/

.Services-title {
    display: flex;
    justify-content: space-around;
    font-size: 21px;
    height:27px;
}
/***************************************************************************************************************/
.services-div {
    display: flex;
    justify-content: space-around;
    width: 97%;
    flex-direction: column;
    flex-direction: column;
    height: 500px;
}

.services-type {
    display: flex;
    justify-content: space-around;
    width: calc(100% / 7);
    font-size: large;
    align-items: center;

}

input[type="checkbox"] {

    height: 100%;
    width: 13%;

}

.services-price, .services-Secretary-discount {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services-price {
    width: 16%;
}

.services-price select {
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 7px;
    width: 51%;
    height: 35px;
    padding: 6px;
}

.services-Secretary-discount{
justify-content:flex-start;
width:23%;
}

.services-Secretary-discount select {
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 7px;
    width: 33%;
    height: 35px;
    padding: 6px;
}
/****************************************************************************/
.services-right-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
    height: 245px;
    border-radius: 7px;
}

.services-right-div button {
        width: 95%;
        background-color: rgba(233, 236, 239, 1);
        height: 38px;
        border: 0;
        border-radius: 5px;
        color: rgba(108, 117, 125, 1);
}
    .services-right-div button:focus {
        background-color: rgba(1, 126, 245, 1);
        color:white
    }