@page "/"
<PageTitle>Home</PageTitle>

<div class="main-containar">
    <div class="info-div" id="info">
        <p class="title">Complete <b></b> Health <br> Care For You  </p>

        <p class="">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
        <br>
        <img src="/imgs/image-1.png" alt="Alternate Text" />
    </div>
    <br />

    <div class="services-info-div" id="services">
        <div class="services-containar">
            <a href="#">
                <img src="/imgs/asset_8.png" alt="Alternate Text" />
            </a>

            <a href="#">
                <img src="/imgs/asset_9.png" alt="Alternate Text" />
            </a>

            <a href="#">
                <img src="/imgs/asset_12.png" alt="Alternate Text" />
            </a>


            <a href="#">
                <img src="/imgs/asset_12 (1).png" alt="Alternate Text" />
            </a>
            <a href="#">
                <img src="/imgs/asset_13.png" alt="Alternate Text" />
            </a>

            <a href="#">
                <img src="/imgs/asset_14.png" alt="Alternate Text" />
            </a>

         </div>
         <br />

        <div class="services-type-containar">
            <div>
                <p class="title-2">Diffrent Type Of Services</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    <br />
                  Lorem Ipsum has been the  </p>
            </div>

            <div class="services-type">
                <ServicesComponent servicesTitle="Online Pharmacy" servicessbj="Lorem Ipsum is simply dummy text of the printing and typesetting industry and. "></ServicesComponent>
                <ServicesComponent servicesTitle="Online Consultant" servicessbj="Lorem Ipsum is simply dummy text of the printing and typesetting industry and. "></ServicesComponent>
                <ServicesComponent servicesTitle="Smart Prescription" servicessbj="Lorem Ipsum is simply dummy text of the printing and typesetting industry and. "></ServicesComponent>

            </div>
        </div>



    </div>        <br>

    <div class="about-us-containar">

        <div class="about-us-title">
            <p>2,157 people have said how good SmartRX</p>
            <h1>Our happy clients say about us</h1>

        </div>
        <div class="the-people-comments">
            <div class="comment-viwe"></div>
            <CommentsComponent UserComment="“You made it so simple. My new site is so much faster and easier to work with than my old site. I just choose the page, make the change.”"
                               UserName="Salma Abbas" UserJob="Pharmacy Owner">
            </CommentsComponent>

            <CommentsComponent UserComment="“You made it so simple. My new site is so much faster and easier to work with than my old site. I just choose the page, make the change.”" UserName="Salma Abbas" UserJob="Pharmacy Owner">

            </CommentsComponent>

            <CommentsComponent UserComment="“You made it so simple. My new site is so much faster and easier to work with than my old site. I just choose the page, make the change.”"
                               UserName="Salma Abbas" UserJob="Pharmacy Owner">
            </CommentsComponent>
        </div>

    </div>
    
    <br />
    
    <div class="asked-questions-continar" >

        <h2>Frequently asked questions</h2>
        <p>Everything you need to know about the product and billing.</p>
        <b></b>

        <QuestionsComponent></QuestionsComponent>
        <QuestionsComponent></QuestionsComponent>
        <QuestionsComponent></QuestionsComponent>
        <QuestionsComponent></QuestionsComponent>
    </div>

    <div class="contact-us-containar" id="Contact-Us">
        
        <div class="left-div">
            <div class="contact-us-title">
                <h1>Contact Us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
            </div>

            <div class="Personal-data">
                <form action="/" >
                    <input type="text" placeholder="Full Name">
                
                    <input type="email" placeholder="Email">

                    <textarea placeholder="Message"></textarea>
                
                </form>
                <button class="submit-button">Submit</button>
            </div>


        </div>

        <div class="right-div">
            <div class="right-brown-div"></div>

            <div class="our-link-phons">
                <h3>Info</h3>
                <div >
                   

          <ContactComponent></ContactComponent>

                </div>


                <div class="media-div">
                    <a href="https://www.facebook.com/" target="_blank"> <img src="/imgs/Faceboke-line.png" alt="Alternate Text" /> </a>
                    <a href="https://x.com/" target="_blank"> <img src="/imgs/twitter-x-line.png" alt="Alternate Text" /> </a>
                    <a href="https://www.linkedin.com/" target="_blank"> <img src="/imgs/linked-in.png" alt="Alternate Text" /> </a>
                    <a href="https://www.instagram.com/" target="_blank"> <img src="/imgs/instgram.png" alt="Alternate Text" /> </a>

                </div>

            </div>

            <div class="right-blue-div"></div>
            

        </div>
    </div>

    <br />

    <div class="copy-rights-containar">
        <div class="smartrx-last-div">
            <div class="top-row ps-3 navbar-dark">
                <div class="chevron-up">
                    <img class="chevron-up-child" alt="" src="/Imgs/SmartRx-icon.svg" />

                    <div class="input-copy-frame">
                        <b class="smart4">Smart</b>
                        <b class="rx4">RX</b>
                    </div>
                </div>


            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>

            <div class="social-media-div">
                <p>Social Media</p>
                <div class="media-div">
                    <a href="https://www.facebook.com/" target="_blank"> <img src="/imgs/Faceboke-line.png" alt="Alternate Text" /> </a>
                    <a href="https://x.com/" target="_blank"> <img src="/imgs/twitter-x-line.png" alt="Alternate Text" /> </a>
                    <a href="https://www.linkedin.com/" target="_blank"> <img src="/imgs/linked-in.png" alt="Alternate Text" /> </a>
                    <a href="https://www.instagram.com/" target="_blank"> <img src="/imgs/instgram.png" alt="Alternate Text" /> </a>

                </div>

            </div>
        </div>

        <div class="smartrx-div">
            <div class="pags-part-div">
                <a href="#info">Our Story</a>
                <a href="#services">Services</a>
                <a href="#">Testimonial</a>
                <a href="#Contact-Us">Contact Us</a>

            </div>

            <div class="pags-part-div">
                <a href="#">Privacy & Policy</a>
                <a href="#">Terms & conditions</a>
                <a href="#">FAQs</a>
 

            </div>

            <div class="subscribe-div">
                <h6>Subscribe to our newsletter</h6>
                <div class="enter-email-div">
                    <input type="email" placeholder="Enter your e-mail">
                    <button> <img src="/imgs/right-short-arrow.png" alt="Alternate Text" /> </button>

                </div>

            </div>

        </div>
    </div>

    <hr>

    <p class="smartrx-p">© All rights reserved by SmartRX.</p>
</div>

