@page "/Login"

<div class="main-containar">
   
    <div class="left-div-containar">
        <div class="first-left-div">
            <div class="top-row ps-3 navbar navbar-dark">
                <div class="chevron-up">
                    <img class="chevron-up-child" alt="" src="/Imgs/SmartRx-icon.svg" />

                    <div class="input-copy-frame">
                        <b class="smart4">Smart</b>
                        <b class="rx4">RX</b>
                    </div>
                </div>



            </div>

            <div class="password-email-containar">

                <div class="email-div">
                    <label>Email</label>
                    <input type="email">
                </div>

                <div class="password-div">
                    <label>Password</label>
                    <input type="password">
                </div>

                <div class="signin-div">
                    <button class="signin-button">Sign in</button>

                    <div class="signin-optoin-div">
                        <div class="remember-me-div">
                            <input type="checkbox" id="remember-me">
                            <label for="remember-me">Remember me</label>
                        </div>
                        <a href="#">forget password?</a>
                    </div>

                </div>

            </div>


        </div>


        <div class="make-new-one-div">

        </div>

    </div>

    <div class="right-div-containar">
        <div class="smartrx-model-div">
            <img src="/imgs/frame1.jpg">
            <img src="/imgs/image-1.png">
            <div class="white-border"></div>
        </div>
        
        <div class="right-div-info">
<h3>Complete Health Care For You</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa architecto quae quidem? Iure delectus eveniet excepturi similique illo. </p>
         </div>

    </div>

</div>
