
<div class="asked-questions">
    <div class="questions">
        <div class="question-div">
            <p> can i comment Here?</p>
        </div>

        <button class="less-button" @onclick="()=>question=0"><img src="/imgs/minus-circle.png" alt="Alternate Text" /></button>



    </div>

</div>



@code {
    int question { get; set; } = 0;


}