/* _content/smartRx/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-0x7fxzcs24] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0x7fxzcs24] {
    flex: 1;
}

.sidebar[b-0x7fxzcs24] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-0x7fxzcs24] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-0x7fxzcs24]  a, .top-row[b-0x7fxzcs24]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-0x7fxzcs24]  a:hover, .top-row[b-0x7fxzcs24]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-0x7fxzcs24]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-0x7fxzcs24] {
        justify-content: space-between;
    }

    .top-row[b-0x7fxzcs24]  a, .top-row[b-0x7fxzcs24]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0x7fxzcs24] {
        flex-direction: row;
    }

    .sidebar[b-0x7fxzcs24] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0x7fxzcs24] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-0x7fxzcs24]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-0x7fxzcs24], article[b-0x7fxzcs24] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-0x7fxzcs24] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-0x7fxzcs24] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/smartRx/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-d4wi6olxf3] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-d4wi6olxf3] {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row[b-d4wi6olxf3] {
    height: 3.5rem;
    padding-bottom: 35%;
    background-color: white;
    margin-left: 16px;
}

.navbar-brand[b-d4wi6olxf3] {
    font-size: 1.1rem;
}

.bi[b-d4wi6olxf3] {
    display: inline-block;
    position: relative;
    background: transparent;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-d4wi6olxf3] {
}

.bi-plus-square-fill-nav-menu[b-d4wi6olxf3] {
}

.bi-list-nested-nav-menu[b-d4wi6olxf3] {
}

.bi-lock-nav-menu[b-d4wi6olxf3] {
}

.bi-person-nav-menu[b-d4wi6olxf3] {
}

.bi-person-badge-nav-menu[b-d4wi6olxf3] {
}

.bi-person-fill-nav-menu[b-d4wi6olxf3] {
}

.bi-arrow-bar-left-nav-menu[b-d4wi6olxf3] {
}

.nav-item[b-d4wi6olxf3] {
    font-size: 16.5px;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-d4wi6olxf3] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-d4wi6olxf3] {
        padding-bottom: 1rem;
    }

    .nav-item[b-d4wi6olxf3]  .nav-link {
        /*color: #d7d7d7;*/
        color: #000000;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-d4wi6olxf3]  a.active {
        background-color: #E9F2FF;
        color: #3784E5;
        border-left: 7px solid;
    }

    .nav-item[b-d4wi6olxf3]  .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: #3784E5;
    }

.nav-scrollable[b-d4wi6olxf3] {
    display: none;
    background-color: white;
    width: 100%;
}

.navbar-toggler:checked ~ .nav-scrollable[b-d4wi6olxf3] {
    display: block;
    width: 100%;
}

.smart4[b-d4wi6olxf3] {
    height: 39px;
    font-size: 26px;
}

.input-copy-frame[b-d4wi6olxf3] {
    flex-direction: row;
    color: #ffb050;
    display: flex;
    align-items: baseline;
}

.chevron-up[b-d4wi6olxf3] {
    display: inline-flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
}

.chevron-up-child[b-d4wi6olxf3] {
    height: 48.5px;
    width: 39.5px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.rx4[b-d4wi6olxf3],
.smart4[b-d4wi6olxf3] {
    position: relative;
    z-index: 1;
}

.smart4[b-d4wi6olxf3] {
    color: #4994FF;
}

.pics-container[b-d4wi6olxf3] {
    position: relative;
    width: 18px;
}

.flex-column[b-d4wi6olxf3] {
    margin-top: 10px;
}

.container-fluid[b-d4wi6olxf3] {
    margin-top: 20px;
}

.nav-scrollable[b-d4wi6olxf3] {
    display: block;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    font-family: "Changa";
    font-size: 16px;
    font-weight: 400;
}

/*****************************************************/
.pics-container[b-d4wi6olxf3] {
    filter: grayscale(100%);
}

/* _content/smartRx/Components/Pages/Clinic.razor.rz.scp.css */
*[b-xts8rxdx74]{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root[b-xts8rxdx74] {
    --font-family: 'Poppins';
    --font-weight: 400;
    --font-style: normal;
}

.main-container[b-xts8rxdx74] {
    font-family: 'Poppins';
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fc;
}


/**********************************************************************************************************/

.Clinics-div[b-xts8rxdx74] {
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.more-h[b-xts8rxdx74] {
    width: 38px;
    height: 38px;
    background: rgba(248, 249, 250, 1);
    border: 0;
    border-radius: 4px;
}

.top-Info[b-xts8rxdx74] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.button-div[b-xts8rxdx74] {
    display: flex;
    width: 16%;
    justify-content: space-between;
}

.add-Clinics[b-xts8rxdx74] {
    width: 65%;
    height: 100%;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(81, 81, 249, 1);
    color: white;
}

.Clinics[b-xts8rxdx74] {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Clinics-info[b-xts8rxdx74] {
    width: 20%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hospital-div[b-xts8rxdx74] {
    background: rgba(138, 138, 201, 0.23);
    height: 167px;
    border-radius: 5.94px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hospital-img[b-xts8rxdx74] {
    border-radius: 5.94286px 5.94286px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.About-p[b-xts8rxdx74]{
  font-family: "Inter", sans-serif;

}

.Clinics-numbers[b-xts8rxdx74]{
    width:100%;
    display:flex;
    justify-content:space-around;
}
/* _content/smartRx/Components/Pages/ClinincComponent.razor.rz.scp.css */
.main-container[b-arkgd88t2q] {
    font-family: 'Poppins';
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fc;
}
.Clinics-div[b-arkgd88t2q] {
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.more-h[b-arkgd88t2q] {
    width: 38px;
    height: 38px;
    background: rgba(248, 249, 250, 1);
    border: 0;
    border-radius: 4px;
}


.top-Info[b-arkgd88t2q] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.button-div[b-arkgd88t2q] {
    display: flex;
    width: 16%;
    justify-content: space-between;
}

.add-Clinics[b-arkgd88t2q] {
    width: 65%;
    height: 100%;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(81, 81, 249, 1);
    color: white;
}

.Clinics[b-arkgd88t2q] {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
}

.Clinics-info[b-arkgd88t2q] {
    width: 20%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hospital-div[b-arkgd88t2q] {
    background: rgba(138, 138, 201, 0.23);
    height: 167px;
    border-radius: 5.94px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hospital-img[b-arkgd88t2q] {
    border-radius: 5.94286px 5.94286px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.About-p[b-arkgd88t2q] {
    font-family: "Inter", sans-serif;
}

.Clinics-numbers[b-arkgd88t2q] {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* _content/smartRx/Components/Pages/Settings.razor.rz.scp.css */
:root[b-6yl95n7phm] {
    --font-family: 'Poppins';
    --font-weight: 400;
    --font-style: normal;
}

.main-container[b-6yl95n7phm] {
    font-family: 'Poppins';
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.User-card[b-6yl95n7phm] {
    display: flex;
    background: white;
    /*width: 1334px;*/
    height: 300px;
    padding: 6px;
    flex-direction: column;
    border-radius: 12px;
    padding: 10px;
}

.top-rectangle[b-6yl95n7phm] {
    /*width: 1320px;*/
    background-image: linear-gradient(180deg, #6057fb, #6358fa, #8265fd);
    height: 102px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.User-card .more-h[b-6yl95n7phm] {
    width: 38px;
    height: 38px;
    background: rgba(248, 249, 250, 1);
    border: 0;
    border-radius: 4px;
    position: relative;
    top: 0;
    right: 45px;
    top: -10px;
    position: absolute;
}

.Doctor-Data[b-6yl95n7phm] {
    display: flex;
    height: 182px;
    position: relative;
    left: 32px;
    top: -40px;
}

.Doctor-Image[b-6yl95n7phm] {
    width: 174px;
    border-radius: 18px;
}

.name-div h2[b-6yl95n7phm] {
    font-family: 'Poppins';
    font-weight: var(--font-weight);
    font-size: 24px;
    margin-top: 24px;
}

.name-div[b-6yl95n7phm] {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}

.name-div2[b-6yl95n7phm] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 206px;
}

.pro-class[b-6yl95n7phm] {
    background-color: rgba(207, 241, 230, 1);
    color: rgba(17, 185, 129, 1);
    width: 45px;
    height: 20px;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    font-size: small;
}

.locatian-div[b-6yl95n7phm] {
    width: 280px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    color: rgba(148, 153, 161, 1);
}

.User-card hr[b-6yl95n7phm] {
    position: absolute;
    width: 102%;
    top: 195px;
    left: -42px;
}

.options-div[b-6yl95n7phm] {
    width: 426px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    color: rgba(148, 153, 161, 1);
}

    .options-div button[b-6yl95n7phm] {
        border: 0;
        background-color: transparent;
        color: rgba(148, 153, 161, 1);
    }
    .options-div button:hover[b-6yl95n7phm] {
        color: rgba(81, 81, 249, 1);
    }

.info-container[b-6yl95n7phm] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}
/**********************************************************************************************************/
.left-div[b-6yl95n7phm] {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.Info-div[b-6yl95n7phm], .Diplomas-div[b-6yl95n7phm], .ToDo-div[b-6yl95n7phm] {
    padding: 25px;
    height: 349px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.more-h[b-6yl95n7phm] {
    width: 38px;
    height: 38px;
    background: rgba(248, 249, 250, 1);
    border: 0;
    border-radius: 4px;
}

.top-Info[b-6yl95n7phm] {
    display: flex;
    justify-content: space-between;
}

.Full-Name[b-6yl95n7phm], .Medical-Specialty[b-6yl95n7phm], .Mobile[b-6yl95n7phm], .Email[b-6yl95n7phm], .Location[b-6yl95n7phm] {
    padding: 10px;
    display: flex;
    border-bottom: 1px dashed rgba(222, 226, 230, 1);
}

.Medical-Specialty[b-6yl95n7phm] {
    justify-content: space-between;
}

.Info-Title[b-6yl95n7phm], .Info-Medical-Specialtym[b-6yl95n7phm], .Info-Mobile[b-6yl95n7phm], .Info-Email[b-6yl95n7phm], .Info-Location[b-6yl95n7phm] {
    color: rgba(148, 153, 161, 1);
    width: 45%;
    font-family: "Inter", sans-serif;
    font-weight: var(--font-weight);
}

.Diplomas-Name[b-6yl95n7phm] {
    display: flex;
    border-bottom: 1px dashed rgba(222, 226, 230, 1);
    padding: 10px;
    justify-content: space-between;
}

.Diplomas-Name-right-div[b-6yl95n7phm] {
    width: 50%;
}

.Diplomas-Name p[b-6yl95n7phm] {
    color: rgba(148, 153, 161, 1);
    font-size: 14px;
}

.TODo-4[b-6yl95n7phm], .TODo-3[b-6yl95n7phm], .TODo-2[b-6yl95n7phm], .TODo-1[b-6yl95n7phm] {
    width: 357px;
    height: 47px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(53, 56, 62, 0.05);
    margin-bottom: 6px;
}

    .TODo-4:has(input:checked)[b-6yl95n7phm] {
        background-color: rgba(0, 85, 255, 0.1);
    }

    .TODo-3:has(input:checked)[b-6yl95n7phm] {
        background-color: rgba(0, 85, 255, 0.1);
    }

    .TODo-2:has(input:checked)[b-6yl95n7phm] {
        background-color: rgba(0, 85, 255, 0.1);
    }

    .TODo-1:has(input:checked)[b-6yl95n7phm] {
        background-color: rgba(0, 85, 255, 0.1);
    }
/**********************************************************************************************************/

.right-div[b-6yl95n7phm] {
    width: 50%;
    height: 788px;
    display: flex;
    flex-direction: column;
}

.About-div[b-6yl95n7phm], .Certifications[b-6yl95n7phm], .education[b-6yl95n7phm] {
    width: 100%;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.About-p[b-6yl95n7phm] {
    color: rgba(148, 153, 161, 1);
}


.Certifications[b-6yl95n7phm] {
    height: 279px;
    padding: 32px;
}

.Certifications-contianar[b-6yl95n7phm] {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Certifications-items[b-6yl95n7phm] {
    width: 181px;
    height: 127px;
    background-color: rgba(240, 240, 255, 1);
    border-radius: 8px;
}

.button-div-containar[b-6yl95n7phm] {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    width: 100%;
}

.buttons-div[b-6yl95n7phm] {
    display: flex;
    width: 48px;
    height: 25px;
    justify-content: space-between;
}

.befor-button[b-6yl95n7phm], .after-button[b-6yl95n7phm] {
    width: 12px;
    height: 12px;
    opacity: 0.5;
    border: 0;
    background-color: white;
}

.Education[b-6yl95n7phm] {
    /*width: 870px;*/
    height: 290px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
}

.Bachelor-of-Medicine-div[b-6yl95n7phm], .Masters-degree-in-cardiology-div[b-6yl95n7phm] {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Bachelor-of-Medicine[b-6yl95n7phm], .Masters-degree-in-cardiology[b-6yl95n7phm] {
    display: flex;
    justify-content: space-between;
    width: 88%;
}

.Medicine-p[b-6yl95n7phm], .Masters-p[b-6yl95n7phm] {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(148, 153, 161, 1);
}

.hr-div[b-6yl95n7phm] {
    width: 356px;
    height: 1px;
    border: 1px dashed rgba(222, 226, 230, 1);
}

.clinics-container[b-6yl95n7phm] {
    display: inline-flex;
}
