
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#ECF4FF;;
height:100vw;
    
}


.main-container{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;

}

.nav-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 10%;
}


.page-container{
    display: flex;
    flex-direction: column;
width: 80%;

}


a{
        text-decoration: none;

}
.SmartRx-bar{
    background-color: white;

    display: flex;
    justify-content: left;
    padding: 25px;
}

.SmartRx_board{
    position: relative;
}
.s-link{
    text-decoration: none;

}

.searchtap{
    display: inline;
}

.search{
    background-color:#ECF4FF;;
    padding: 10px;
    width: 340px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    transform: translate(15vw,-1.5vw);
    border: 0;
    
    
}

.search-button{ 
    transform: translate(12.3vw,-1.5vw);
    background-color: white;
    position: relative;
    height:40px;
    width: 40px;
    padding: 10px;
    color: #4994FF;
    font-size: 17px;
    border: 0;
    border-radius: 10px;
    

}

.icon1>svg{
    transform: translate(25vw,-1.5vw);
    position: relative;
}
.icon2>svg{
    transform: translate(27vw,-1.3vw);
position: relative;
}
.icon3>svg{
        transform: translate(29vw,-1.3vw);
position: relative;
color: #B7B7B7;
width: 24.68px;
height: 24.68px;
}

.lang-select>select{
    transform: translate(30.3vw,-1.6vw);
    border: white;
    position: relative;
    color:#969696 ;
    
}

ul {
    list-style-type: none;
  }
  
 ul>a:hover{
    background-color:  #2a599b;
 } 
.s-aside{ 
    padding: 20px;
    background-color: white;
height: 100%;
}

.aside_li0>a{
    font-family: Gilroy;  
    font-size: 25px;
    color: black;
}

.menu{
    height: 92.5%;
}

.aside-foot{
    position: relative;
    display: flex;
    flex-direction: column;

    color: #B7B7B7;

}

.fristpag{
    position: relative;
    display: flex; 
flex-direction:initial; 
    background-color: white;  
    position: relative;
    width: 753px;

    
       transform: translate(5vw,0vw);
       padding: 10px;

}
.fristpag>p{
    display: flex; height:110px;
}
.more-button{
    width: 160px;
    height: 50px;
    border-radius: 16px;
    border: 0;
    background-color: #E3EFFF;
    color: #0038FF;
    font-size: 18px;
transform: translate(-13vw, 7.8vw);
}


.news-section{
display: flex;
width: 100%;

}
.news-section .left-div{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-around;
}

.news-section .right-div{
display: flex;
width: 25%;
flex-direction: column;
justify-content: flex-start;
    align-items: flex-end;
    text-align: justify;
    padding: 20px;
    background-color: white;
    position: relative;
}


.two-divs-in-one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secondpag{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    margin-left:60px;
    background-color: white;
    width: 366px;
    height: 235px;
}


.Appointments-img{
position: relative;
left: 7.2vw;
}
.secondpag>p{
    position: relative;

    text-align: center;
}

.Appointments-word{   
     color: #667085;
        text-align: center;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Appointments-num{
    text-align: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Appointments-percent{
        text-align: center;
    font-size: 18px;
    color: #069A6E;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.therdpag{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    background-color: white;
    width: 366px;
    height: 235px;


}

.Appointments-Follow_Up{
    position: relative;
    left: 7.2vw;

}

.Appointments_Follow_Up-word{
    color: #667085;
        text-align: center;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.title{
    position: relative;
    color: #053273;
        font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.Medical-News{
    position: relative;
    width: 236px;
    height: 151px;
    border: 1px solid #D0DEFB ;
    border-radius: 16px;  
    padding: 24px;
}

.info-button{
    position: relative;
    height: 32px;width:32px;
    border-radius: 24px;
   border: 1px solid #0F6EF50F;
   padding: 8px;
   gap: 10px;
   left: 7vw;
   top: -5vw;


}

.info-button2{
    position: relative;
    height: 32px;width:32px;
    border-radius: 24px;
   border: 1px solid #0F6EF50F;
   padding: 8px;
   gap: 10px;
   left: 7vw;
   top: -4vw;

}
 .target{
    position: relative;
    height: 20vw;
    width: 20vw;
    padding: 20px;
    background-color: white;
    left: 25vw;
    top: -85vw;
}
/*******************************************************************************************************************/
.tar-word{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tar-word2{
    color: #969696;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 .target-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 } 

.target-section .left-tar-div{ 
       background-color: white;
    display: flex;
    flex-direction: column;
    height: 75%;
    padding: 15px;
    width: 30%;
}

.target-section .right-tar-div{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 75%;
    padding: 15px;
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/

.percent{
    position: relative;
    left: 2vw;
}

.percent-word{
    text-align: center;
    color: #667085;font-size: 18px;
}

.percent-dolar{
    color: #1A1C21;
}


.frist-rise{
    position: relative;
    left: 2vw;
    top: 1vw;
}

.arrows{
    display: flex;
    flex-direction: column;
    flex-wrap:initial;
    justify-content: flex-start;
}
.arrow-title{
    position: relative;
    left: 0.3vw;
    color: #667085;font-size: 13px;
}

.arrow-rise{
    width: 600;
    font-size: 20px;
    color: #1A1C21;
}

.green-arrow{
    position: relative;
    top: -1.1vw;
    left: 2.3vw;
}
.arrow-title2{
        position: relative;
        top: -2vw;
    left: 7.5vw;
    color: #667085;font-size: 13px;
}

.arrow-down{
           position: relative;
        top: -2vw;
    left: 7.5vw;    font-size: 20px;

}

.red-arrow{
        position: relative;
    top: -3vw;
    left: 9.7vw;
}

.arrow-title3{
    position: relative;
    top: -5vw;
    left: 13vw;
    color: #667085;font-size: 13px; 
}

.arrow-rise2{
    position: relative;
    top: -5vw;
    left: 12.7vw;font-size: 20px;
}

.green-arrow2{
       position: relative;
    top: -6vw;
    left: 15.2vw;
}
/***********************************************************************************************************/
.Statistic{
    position: relative;
background-color: white;
width: 695px;
height: 376px;
top: -105vw;
left: 46.5vw;
padding: 10px;

}
.Statistic>h1{
    color: #1A1C21;
}
.Statistic>h4{
    color: #667085;

}

.Revenue-point{
    position: relative;
   top: -1.75vw;
    left:12vw ;
}
.cost-point{

    position: relative;
  left: 16.2vw;  top:-2.8vw ;
   
}

.Graph{
   position: relative;
   top: -10vw; 
   left: 3vw;
}

.numers{
    position: relative;
    top: 2vw;
    
}

.title0{
    position: relative;
}

.appointments-section{
    display: flex;
    flex-direction:column ;
    background-color: white;
    height: 30%;
width: 80%;
margin-left: 20px;
padding: 15px;
}

.Appointments-table{
    position: relative;
    font-family: 'Gilroy-Bold', sans-serif;

}
.id{
    position: relative;
    top: -2.2vw;
}