@page "/Clinics"

<div class="main-contianar">
    <div class="User-card">
        <div class="top-rectangle"></div>
        <div class="Doctor-Data">
            <button class="more-h"><img src="Imgs/1.svg" alt=""></button>
            <img src="Imgs/1.png" alt="" class="Doctor-Image">
            <div class="name-div">
                <div class="name-div2">
                    <h2>Ahmed Reda</h2>
                    <div class="pro-class">Pro</div>
                </div>
                <p>ahmedreda</p>
                <br>
                <div class="locatian-div"><p>Cardiologist</p> <p>El-Mansoura, Egypt</p></div>

            </div>
            <hr>
        </div>
        <div class="options-div">
            <p>Overview</p>
            <p>Clincs</p>
            <p>Assistants</p>
            <p>sectors</p>
            <p>prescription</p>

        </div>
    </div>

    <br>
    <div class="Clinics-div">
        <div class="top-Info">
            <p>Clinics</p>
            <div class="button-div">
                <button class="add-Clinics">Add Clinics</button>
                <button class="more-h"><img src="Imgs/1.svg" alt=""></button>
            </div>

        </div>
        <br>
        <div class="Clinics">
            <div class="Clinics-info">
                <div class="hospital-div">
                    <img src="/Imgs/hospital-img.png" alt="Alternate Text" class="hospital-img" />
                </div>
                <br>

                <div class="top-Info">
                    <p>Clinics</p>
                    <button class="more-h"><img src="Imgs/1.svg" alt=""></button>
                </div>  
                <p class="About-p">
                    Ut tristique et egestas quis ipsum ultrices. neq ue De vitae tempus quam pellentesque nec nam aliquam sem.
                </p>
              <br>

                <div class="Clinics-numbers">
                    <p>4 Patints</p>
                    <p>16 Appointments </p>
              </div>
            </div>
@************************************************************************************************************************************************@

            <div class="Clinics-info">
                <div class="hospital-div">
                    <img src="/Imgs/hospital-img.png" alt="Alternate Text" class="hospital-img" />
                </div>
                <br>

                <div class="top-Info">
                    <p>Clinics</p>
                    <button class="more-h"><img src="Imgs/1.svg" alt=""></button>
                </div>  
                <p class="About-p">
                    Ut tristique et egestas quis ipsum ultrices. neq ue De vitae tempus quam pellentesque nec nam aliquam sem.
                </p>
              <br>

                <div class="Clinics-numbers">
                    <p>4 Patints</p>
                    <p>16 Appointments </p>
              </div>
            </div>
@************************************************************************************************************************************************@

            <div class="Clinics-info">
                <div class="hospital-div">
                    <img src="/Imgs/hospital-img.png" alt="Alternate Text" class="hospital-img" />
                </div>
                <br>

                <div class="top-Info">
                    <p>Clinics</p>
                    <button class="more-h"><img src="Imgs/1.svg" alt=""></button>
                </div>  
                <p class="About-p">
                    Ut tristique et egestas quis ipsum ultrices. neq ue De vitae tempus quam pellentesque nec nam aliquam sem.
                </p>
              <br>

                <div class="Clinics-numbers">
                    <p>4 Patints</p>
                    <p>16 Appointments </p>
              </div>
            </div>          
@************************************************************************************************************************************************@
            <div class="Clinics-info">
                <div class="hospital-div">
                    <img src="/Imgs/hospital-img.png" alt="Alternate Text" class="hospital-img" />
                </div>
                <br>

                <div class="top-Info">
                    <p>Clinics</p>
                    <button class="more-h"><img src="Imgs/1.svg" alt=""></button>
                </div>  
                <p class="About-p">
                    Ut tristique et egestas quis ipsum ultrices. neq ue De vitae tempus quam pellentesque nec nam aliquam sem.
                </p>
              <br>

                <div class="Clinics-numbers">
                    <p>4 Patints</p>
                    <p>16 Appointments </p>
              </div>
            </div>




        </div>

    </div>



</div>