@page "/Settings"
@rendermode InteractiveServer

  <div class="main-contianar">
    <div class="User-card">
        <div class="top-rectangle"></div>
        <div class="Doctor-Data">
            <button class="more-h"><img src="/Imgs/1.svg" alt=""></button>
            <img src="/Imgs/1.png" alt="" class="Doctor-Image">
            <div class="name-div">
                <div class="name-div2">
                    <h2>Ahmed Reda</h2>
                    <div class="pro-class">Pro</div>
                </div>
                <p>ahmedreda</p>
                <br>
                <div class="locatian-div"><p>Cardiologist</p> <p>El-Mansoura, Egypt</p></div>

            </div>
            <hr>
        </div>
        <div class="options-div">
            <button @onclick="()=>showClinics=1">Overview</button>
            <button @onclick="()=>showClinics=2">Clinics</button>
            <button @onclick="()=>showClinics=3">Assistants</button>
            <button @onclick="()=>showClinics=4">sectors</button>
            <button @onclick="()=>showClinics=5">prescription</button>

        </div>
    </div>

    <br>
    @if (showClinics == 1)
    {
        <div class="info-container">
            <div class="left-div">
                <div class="Info-div">

                    <div class="top-Info">
                        <p>Info</p>
                        <button class="more-h"><img src="/Imgs/1.svg" alt=""></button>
                    </div>

                    <div class="Full-Name">
                        <p class="Info-Title">Full Name</p>
                        <p class="Info">Ahmed Reda</p>
                    </div>
                    <!--------------------------------->
                    <div class="Medical-Specialty">
                        <p class="Info-Medical-Specialty">Medical Specialty</p>
                        <p class="Info-Local-Medical-Specialty">Cardiologist</p>
                    </div>
                    <!--------------------------------->
                    <div class="Mobile">
                        <p class="Info-Mobile">Mobile</p>
                        <p class="Info-Local-Mobile">+2-01234567891</p>
                    </div>
                    <!--------------------------------->
                    <div class="Email">
                        <p class="Info-Email">Email</p>
                        <p class="Info-Local-Email">email@gamil.com</p>
                    </div>
                    <!--------------------------------->
                    <div class="Location">
                        <p class="Info-Location">Location</p>
                        <p class="Info-Local-Location">El-Mansoura, Egypt</p>
                    </div>
                </div>
                <br>

                <div class="Diplomas-div">
                    <div class="top-Info">
                        <p>Diplomas</p>
                        <button class="more-h"><img src="/Imgs/1.svg" alt=""></button>
                    </div>

                    <div class="Diplomas-Name">
                        <div class="Diplomas-Name-left-div">
                            <h4>Diploma’s Name</h4>
                            <p>form - to</p>
                        </div>
<div class="Diplomas-Name-right-div">
                            <p>Ut tristique et egestas quis ipsum suspendisse ultrices. Auctor neque vitae</p>
                        </div>
                    </div>
                    <br>
                    <div class="Diplomas-Name">
                        <div class="Diplomas-Name-left-div">
                            <h4>Diploma’s Name</h4>
                            <p>form - to</p>
                        </div>

                        <div class="Diplomas-Name-right-div">
                            <p>Ut tristique et egestas quis ipsum suspendisse ultrices. Auctor neque vitae</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ToDo-div">
                    <div class="top-Info" title="TO-do">
                        <p>ToDo</p>
                        <button class="more-h"><img src="images/settings/1.svg" alt=""></button>
                    </div>

                    <div class="TODo-4">
                        <input type="checkbox" name="" id="TODo-4"> <label for="TODo-4">TO-do 4</label>
                    </div>

                    <div class="TODo-3">
                        <input type="checkbox" name="" id="TODo-3"> <label for="TODo-3">TO-do 3</label>
                    </div>

                    <div class="TODo-2">
                        <input type="checkbox" name="" id="TODo-2"> <label for="TODo-2">TO-do 2</label>
                    </div>
                    <div class="TODo-1">
                        <input type="checkbox" name="" id="TODo-1"> <label for="TODo-1">TO-do 1</label>
                    </div>


                </div>

            </div>

            <div class="right-div">

                <div class="About-div">
                    <div class="top-Info">
                        <p>About</p>
                        <button class="more-h"><img src="images/settings/1.svg" alt=""></button>
                    </div>
                    <br>
                    <p class="About-p">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, itaque temporibus suscipit neque consectetur officia excepturi dolorum nobis veritatis possimus
                        quia nostrum, perspiciatis unde?
                        Temporibus maiores iste voluptates corporis et!
                    </p>
                    <br>
                    <p class="About-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum illo, laborum quaerat earum, beatae optio possimus obcaecati magnam, numquam delectus ipsum aliquid
                        expedita nesciunt officiis inventore. Tempore blanditiis porro suscipit?
                    </p>
                </div>
                <br>
                <div class="Certifications">
                    <div class="top-Info">
                        <p>Certifications</p>
                        <button class="more-h"><img src="images/settings/1.svg" alt=""></button>
                    </div><br>
                    <div class="Certifications-contianar">
                        <div class="Certifications-items"></div>
                        <div class="Certifications-items"></div>
                        <div class="Certifications-items"></div>
                        <div class="Certifications-items"></div>

                    </div>
                    <br>
                    <div class="button-div-containar">
                        <div class="buttons-div">
                            <div class="befor-button-div">
                                <button class="befor-button"> <img src="images/settings/2.svg" alt=""></button>
                            </div>
                            <div class="after-button-div">
                                <button class="after-button"> <img src="images/settings/3.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
</div>
                <br>
                <div class="education">
                    <div class="top-Info">
                        <p>Education</p>
                        <button class="more-h"><img src="images/settings/1.svg" alt=""></button>
                    </div>
                    <br>
                    <div class="Bachelor-of-Medicine-div">
                        <div class="Bachelor-of-Medicine">
                            <p class="Bachelor-of-Medicine-p">Bachelor of Medicine</p>
                            <p class="Medicine-p">Faculty of Medicine, Mansoura University, Egypt - Mansoura.</p>
                        </div>
                        <div class="Bachelor-of-Medicine-date">
                            <p class="Medicine-p">2000-2006</p>

                        </div>
                    </div>
                    <br>
                    <div class="hr-div"></div>
                    <br>
                    <div class="Masters-degree-in-cardiology-div">
                        <div class="top-Info">
                            <p>Education</p>
                            <button class="more-h"><img src="images/settings/1.svg" alt=""></button>
                        </div>
                        <br>
                        <div class="Masters-degree-in-cardiology">
                            <p class="Masters-degree-in-cardiology-p">Bachelor of Medicine</p>
                            <p class="Masters-p">Faculty of Medicine, Mansoura University, Egypt - Mansoura.</p>
                        </div>
                        <div class="Masters-degree-in-cardiology-date">
                            <p class="Masters-p">2000-2006</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    else if (showClinics == 2)
    {
        <div class="clinics-container">
            <ClinincComponent clinicName="Mohammad CLinic" ptCount="9"></ClinincComponent>
            <ClinincComponent clinicName="Adham Clinic" ptCount="10"></ClinincComponent>
            <ClinincComponent clinicName="Ahmad Clinic" ptCount="2"></ClinincComponent>
            <ClinincComponent clinicName="Anas Clinic" ptCount="15"></ClinincComponent>
        </div>
    }
    else if (showClinics == 3)
    {

    }
    else if (showClinics == 4)
    {

    }
    else if (showClinics == 5)
    {

    }
</div>
@code {
    int showClinics { get; set; } = 1;
}


