/* _content/SmartRx2/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-ki11g62d4e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ki11g62d4e] {
    flex: 1;
}

article[b-ki11g62d4e]{
    padding:0;
}


.top-row[b-ki11g62d4e] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ki11g62d4e]  a, .top-row[b-ki11g62d4e]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-ki11g62d4e]  a:hover, .top-row[b-ki11g62d4e]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ki11g62d4e]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-ki11g62d4e] {
        justify-content: space-between;
    }

    .top-row[b-ki11g62d4e]  a, .top-row[b-ki11g62d4e]  .btn-link {
        margin-left: 0;
    }
}


.sidebar[b-ki11g62d4e] {
    width: 100%;
    height: 100px;
    top: 0;
    gap: 170px;
    box-shadow: -41px -19px 37px 9px black;
    /*display:flex;*/
    display:none;
}

    .top-row[b-ki11g62d4e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ki11g62d4e]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ki11g62d4e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }


#blazor-error-ui[b-ki11g62d4e] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-ki11g62d4e] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }




/* _content/SmartRx2/Components/Layout/NavMenu.razor.rz.scp.css */

*[b-6blxi9ymlb]{
    box-sizing:border-box;
}
.nav-containar[b-6blxi9ymlb]{
    width:100%;
    height:100%;
    display:flex;
    gap:170px
}

.top-row[b-6blxi9ymlb] {
    height: 100%;
    padding: 10px;
    background-color: white;
    margin-left: 16px;
}

.buttons-continar[b-6blxi9ymlb] {
    width: 40%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 54px;
}
.navbar-brand[b-6blxi9ymlb] {
    font-size: 1.1rem;
}

.smart4[b-6blxi9ymlb] {
    height: 39px;
    font-size: 26px;
}

.input-copy-frame[b-6blxi9ymlb] {
    flex-direction: row;
    color: #ffb050;
    display: flex;
    align-items: baseline;
}

.chevron-up[b-6blxi9ymlb] {
    display: inline-flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
}

.chevron-up-child[b-6blxi9ymlb] {
    height: 48.5px;
    width: 39.5px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.rx4[b-6blxi9ymlb],
.smart4[b-6blxi9ymlb] {
    position: relative;
    z-index: 1;
}

.smart4[b-6blxi9ymlb] {
    color: #4994FF;
}
.flex-column[b-6blxi9ymlb] {
    margin-top: 10px;
}

.container-fluid[b-6blxi9ymlb] {
    margin-top: 20px;
}
/***************************************************************************/
.home-put[b-6blxi9ymlb], .servicers-put[b-6blxi9ymlb], .testimonial-put[b-6blxi9ymlb], .faqs-put[b-6blxi9ymlb], .contact-us-put[b-6blxi9ymlb] {
    display: none
}

input[type="checkbox"]:checked + .button-label[b-6blxi9ymlb] {
    border-bottom: 1px green solid ;
}
/**************/
.sign-in-button[b-6blxi9ymlb] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
}

    .sign-in-button button[b-6blxi9ymlb] {
        border: 0;
        border-radius: 30px;
        width: 100%;
        height: 38px;
        background-color: #ffb654;
        color: white;
        font-size: large;
    }

/********************************************************************************/
@media (min-width:1002px) and (max-width:1445px){

    .nav-containar[b-6blxi9ymlb]{
        gap:75px;
    }
.buttons-continar[b-6blxi9ymlb]{
    width:56%
}

    
}
@media (min-width:315px) and (max-width:620px){
    .buttons-continar[b-6blxi9ymlb], .sign-in-button[b-6blxi9ymlb] {
        display: none;
    }


}


@media (min-width:622px) and (max-width:800px){
    .nav-containar[b-6blxi9ymlb]{
        gap:10px;
    }
    .buttons-continar[b-6blxi9ymlb]{
        width:55%;
        gap:10px;
    }
}@media (min-width:801px) and (max-width:1002px){
    .nav-containar[b-6blxi9ymlb] {
        gap: 29px;
    }

    .buttons-continar[b-6blxi9ymlb] {
        width: 53%;
        gap: 37px;
    }
 }
/* _content/SmartRx2/Components/Pages/CommentsComponent.razor.rz.scp.css */
.comment[b-wie1v1w7fe] {
    width: 17%;
    height: 291px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 15px;
    border-radius: 13px;
    box-shadow: -3px 0px 8px -3px #6f6f6f;
}

    .comment img[b-wie1v1w7fe] {
        width: 40%;
    }

.user-div[b-wie1v1w7fe] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .user-div img[b-wie1v1w7fe] {
        width: 18%;
    }

@media (min-width:315px) and (max-width:620px){
    .comment[b-wie1v1w7fe] {
    width:100%;
    }
    .comment >img[b-wie1v1w7fe]{
        width:20%;

    }.comment p[b-wie1v1w7fe]{
         font-size:13px;
     }
}


@media (min-width:622px) and (max-width:722px){
    .comment[b-wie1v1w7fe] {
    width:100%;
    }
    .comment >img[b-wie1v1w7fe]{
        width:16%;

    }.comment p[b-wie1v1w7fe]{
         font-size:13px;
     }    
     .user-div img[b-wie1v1w7fe] {
        width: 10%;
    }

}

@media (min-width:724px) and (max-width:1237px){
    .comment[b-wie1v1w7fe] {
        width: 28%;
        height: 311px;
    }
}
/* _content/SmartRx2/Components/Pages/ContactComponent.razor.rz.scp.css */
.our-links[b-ce2g9ncj52] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

    .our-links a[b-ce2g9ncj52] {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: #E1E1E1;
    }
/* _content/SmartRx2/Components/Pages/Home.razor.rz.scp.css */
*[b-c5m3qe6kzq]{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.main-containar[b-c5m3qe6kzq] {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Alexandria", sans-serif;
}
/********************************************************************************
    ******************************************************************************
*/
.info-div[b-c5m3qe6kzq] {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(45deg, #3333b770, #e9dabeb5);
    height: 970px;
    overflow: hidden;
    z-index: 1;
}

    .info-div .title[b-c5m3qe6kzq] {
        height: 80%;        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 120%;
        text-align: center;
        text-transform: capitalize;
        color: #263238;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }



.mobile-model-div[b-c5m3qe6kzq] {
    display: flex;
    gap: 18px;
    height: 52px;
    width: 25%;
}


    .mobile-model-div button[b-c5m3qe6kzq] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        width: 46%;
        height: 32px;
        background: #FFB050;
        border-radius: 13.0208px;
        justify-content: center;
        color: white;
        font-size: 14px;
        border: 0;
    }

    .mobile-model-div .arrow-img[b-c5m3qe6kzq] {
        width: 18%;
    }


.info-div b[b-c5m3qe6kzq] {
    position: absolute;
    width: 209px;
    height: 49px;
    left: 53%;
    top: 128px;
    background: linear-gradient(90deg, #FFB050 0%, #4994FF 100%);
    filter: blur(25px);
    border-radius: 50px;
    z-index: -1;
}
/****************************************************************/
.services-info-div[b-c5m3qe6kzq] {
    display: flex;
    width: 100%;
    height: 635px;
    padding: 10px;
    align-items: center;
gap:15px;
flex-direction: column;
}

.services-type-title[b-c5m3qe6kzq]{
    width:100%;
    padding:10px;
    text-align:center;
}

.services-containar[b-c5m3qe6kzq] {
    display: flex;
    gap: 109px;
    height: 35px;
    align-items: center;
    width: 100%;
    border: 2px solid #c0c0c0;
    padding: 8px;
    justify-content: space-around;
}
/*****************************/
.services-type-containar[b-c5m3qe6kzq] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px; gap:54px;
}
.title-2[b-c5m3qe6kzq] {
    width: 100%;
    height: 48px;
    font-family: "Alexandria", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
}
/**********************/
.services-type[b-c5m3qe6kzq]{
    display:flex;
    width:100%;
    justify-content:space-around;
    padding:10px;

}
/*******************/
.about-us-containar[b-c5m3qe6kzq] {
    width: 100%;
    background-color: #f5f7fb;
    height: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 0;
    gap: 65px;
}

.about-us-title[b-c5m3qe6kzq] {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 119px;
}


.the-people-comments[b-c5m3qe6kzq] {
    width: 100%;
    display: flex;
    justify-content: center;
 gap:63px;
 height:88%;
}

.comment-viwe[b-c5m3qe6kzq] {
    position: absolute;
    left: 172px;
    top: 1864px;
    width: 80%;
    height: 389px;
    background: linear-gradient(90deg, #FFFFFF 0%, #FFB050 32.5%, #4994FF 67.5%, #FFFFFF 100%);
    opacity: 0.3;
    z-index: -1;
}

/*/************************************************************/
.asked-questions-continar[b-c5m3qe6kzq] {
    width: 100%;
    height: 549px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

    .asked-questions-continar b[b-c5m3qe6kzq] {
        position: absolute;
        width: 50%;
        height: 105px;
        left: 26%;
    top: 2454px;        background: linear-gradient(90deg, #FFB050 -0.55%, #4994FF 99.34%);
        filter: blur(35px);
        border-radius: 50px;
        z-index: 0;
    }
/******************************************************************************************************/
.contact-us-containar[b-c5m3qe6kzq] {
    width: 100%;
    padding: 85px;
    display: flex;
    gap: 10px;
    height: 865px;
    justify-content: space-around;
    background-color: #F5F7FB;
}


/**right-div**/
.right-div[b-c5m3qe6kzq]{
    display:flex;
 

}

.right-brown-div[b-c5m3qe6kzq] {
    top: 61px;
    width: 40px;
    height: 40px;
    background: #FFB050;
    z-index: 3;
    position: relative;
    left: 196px;
}
.right-blue-div[b-c5m3qe6kzq] {
    width: 177px;
    height: 575px;
    background: #4994FF;

}

/**********/
.our-link-phons[b-c5m3qe6kzq] {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 433px;
    height: 406px;
    background: #18181B;
    top: 76px;
    position: relative;
    left: 177px;
    color: white;
    padding: 54px;
}

.media-div[b-c5m3qe6kzq] {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.media-div a[b-c5m3qe6kzq] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 40px;
    max-width: 376px;
    height: 40px;
    background: #F4F4F4;
    border-radius: 20px;
   
}

/*******left-div*********/

.left-div[b-c5m3qe6kzq] {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;

}

.contact-us-title[b-c5m3qe6kzq]{
    display:flex;
    flex-direction:column;
    width:100%;
    height:122px;
    gap:15px;
}
.Personal-data[b-c5m3qe6kzq] {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    height: 478px;
    gap: 15px;

}

    .Personal-data form[b-c5m3qe6kzq] {
        display: flex;
        flex-direction: column;
        gap: 62px;
        width: 100%;
        height: 382px;
    }
.Personal-data input[type="text"][b-c5m3qe6kzq],.Personal-data input[type="email"][b-c5m3qe6kzq]{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    gap: 10px;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #CED8DF;
    border-radius: 6px;
    color:#CED8DF;

}
    .Personal-data textarea[b-c5m3qe6kzq] {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 13px;
        gap: 10px;
        width: 427px;
        height: 150px;
        background: #FFFFFF;
        border: 1px solid #CED8DF;
        border-radius: 6px;

 }

.submit-button[b-c5m3qe6kzq] {
    width: 199.63px;
    height: 48.1px;
    background: #18181B;
    border-radius: 6px;
    color: white;
    font-size: large;
}

/******************************************************************************/
.copy-rights-containar[b-c5m3qe6kzq] {
    width: 100%;
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}
/************************************************/
.smart4[b-c5m3qe6kzq] {
    height: 39px;
    font-size: 26px;
}

.top-row[b-c5m3qe6kzq] {
    padding: 10px;
    background-color: white;
    margin-left: 16px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.buttons-continar[b-c5m3qe6kzq] {
    width: 40%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

.navbar-brand[b-c5m3qe6kzq] {
    font-size: 1.1rem;
}

.smart4[b-c5m3qe6kzq] {
    height: 39px;
    font-size: 26px;
}

.input-copy-frame[b-c5m3qe6kzq] {
    flex-direction: row;
    color: #ffb050;
    display: flex;
    align-items: baseline;
}

.chevron-up[b-c5m3qe6kzq] {
    display: inline-flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
}

.chevron-up-child[b-c5m3qe6kzq] {
    height: 48.5px;
    width: 39.5px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.rx4[b-c5m3qe6kzq],
.smart4[b-c5m3qe6kzq] {
    position: relative;
    z-index: 1;
}

.smart4[b-c5m3qe6kzq] {
    color: #4994FF;
}

.flex-column[b-c5m3qe6kzq] {
    margin-top: 10px;
}

.container-fluid[b-c5m3qe6kzq] {
    margin-top: 20px;
}

/****************************************************/

.smartrx-last-div[b-c5m3qe6kzq] {
    display: flex;
    padding: 30px;
    width: 25%;
    gap: 23px;
    flex-direction: column;
}

.social-media-div[b-c5m3qe6kzq] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

/**********************************/
.smartrx-div[b-c5m3qe6kzq] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 99px;
    width: 837px;
    height: 156px;
}

.pags-part-div[b-c5m3qe6kzq] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 19%;
    padding: 10px;
}
.pags-part-div a[b-c5m3qe6kzq] {
    text-decoration: none;
    color: #18181B;
}

/***************************************************************/
.subscribe-div[b-c5m3qe6kzq] {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.enter-email-div[b-c5m3qe6kzq] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 56px;
    gap: 12px;
}

    .enter-email-div input[type="email"][b-c5m3qe6kzq] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 17.25px 12px 17.25px 24px;
        width: 300px;
        height: 56px;
        background: #F4F4F4;
        border-radius: 32px;
        border: 0;
        color: #CED8DF;
    }

    .enter-email-div button[b-c5m3qe6kzq] {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 14px;
        width: 56px;
        height: 56px;
        background: #4994FF;
        border-radius: 28px;
        border: 0
    }

 /*******/
.smartrx-p[b-c5m3qe6kzq] {
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**************************************/
.mobil-model-smartra-link[b-c5m3qe6kzq]{
    display:none;
}
/**********************************************************************************/
@media (min-width:315px) and (max-width:620px) {

    .title-div[b-c5m3qe6kzq] {
        height: 180px;
        display: flex;
        flex-direction: column;
    }

        .title-div .title[b-c5m3qe6kzq], .title-2[b-c5m3qe6kzq] {
            font-size: 20px;
        }

    .mobile-model-div[b-c5m3qe6kzq] {
        display: flex;
        gap: 18px;
        height: 25px;
        width: 57%;
    }

    .info-div[b-c5m3qe6kzq] {
        height: 538px;
    }

    .mobile-model-div button[b-c5m3qe6kzq] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        width: 46%;
        height: 32px;
        background: #FFB050;
        border-radius: 13.0208px;
        justify-content: center;
        color: white;
        font-size: 14px;
        border: 0;
    }

    .mobile-model-div .arrow-img[b-c5m3qe6kzq] {
        width: 25%;
    }

    .smartrx-last-div[b-c5m3qe6kzq] {
        width: 100%
    }

        .services-containar a:nth-child(6)[b-c5m3qe6kzq], .services-containar a:nth-child(5)[b-c5m3qe6kzq], .services-containar a:nth-child(4)[b-c5m3qe6kzq], .services-containar a:nth-child(3)[b-c5m3qe6kzq],
        .right-div[b-c5m3qe6kzq], .asked-questions-continar b[b-c5m3qe6kzq], .smartrx-p[b-c5m3qe6kzq], .pags-part-div[b-c5m3qe6kzq], .top-row[b-c5m3qe6kzq], .smartrx-last-div > p[b-c5m3qe6kzq], .info-div b[b-c5m3qe6kzq] {
            display: none;
        }
    /**************************************************************************/
    .services-info-div[b-c5m3qe6kzq] {
        height: 972px;
    }

    .services-type[b-c5m3qe6kzq] {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    /*********************************************************************/
    .the-people-comments[b-c5m3qe6kzq] {
        overflow: hidden;
        flex-direction: column;
        gap: 100px;
    }

    .comment-viwe[b-c5m3qe6kzq] {
        left: -9px;
        top: 1821px;
        width: 100%;
    }

    .about-us-title h1[b-c5m3qe6kzq] {
        font-size: 24px;
    }

    .about-us-title[b-c5m3qe6kzq] {
        font-size: 17px;
    }
    /********************************************************/
    .asked-questions-continar h2[b-c5m3qe6kzq] {
        font-size: 20px;
    }

    .asked-questions-continar p[b-c5m3qe6kzq] {
        font-size: 10px;
    }
    /************************************************************/
    .contact-us-containar[b-c5m3qe6kzq] {
        padding: 10px;
        height: 644px;
    }
    /*******************************************************/
    .left-div[b-c5m3qe6kzq] {
        gap: 20px;
    }

    .left-div[b-c5m3qe6kzq], .Personal-data input[type="text"][b-c5m3qe6kzq], .Personal-data input[type="email"][b-c5m3qe6kzq], .Personal-data textarea[b-c5m3qe6kzq], .model-smartrx[b-c5m3qe6kzq] {

        width: 100%;
    }

    .contact-us-title[b-c5m3qe6kzq], .Personal-data[b-c5m3qe6kzq], .Personal-data form[b-c5m3qe6kzq] {
        align-items: center;
    }

    .submit-button[b-c5m3qe6kzq] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        width: 93px;
        height: 31px;
        background: #18181B;
        border-radius: 13.0208px;
        justify-content: center;
    } 
    
    .left-div p[b-c5m3qe6kzq]{
        font-size: 12px;
    font-weight: 700;
       }
    .left-div h1[b-c5m3qe6kzq] {
        font-size: 22px;
        font-weight: 700;
    }

    .copy-rights-containar[b-c5m3qe6kzq]{
        height:410px;
        flex-direction:column;
    }

    .social-media-div[b-c5m3qe6kzq]{
        align-items:center;
    }
        .social-media-div p[b-c5m3qe6kzq] ,.smartrx-div h6[b-c5m3qe6kzq] {
            font-size: 14px;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
        }

    .media-div a[b-c5m3qe6kzq] {
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
    .media-div img[b-c5m3qe6kzq]{
         width:60%;
     }

    .enter-email-div input[type="email"][b-c5m3qe6kzq]{
        width:80%;
    }

    .mobil-model-smartra-link[b-c5m3qe6kzq]{
        display:flex;
        justify-content:center;
        width:100%;
        padding:5px;
        gap:30px;

    }
    .mobil-model-smartra-link a[b-c5m3qe6kzq]{
        text-decoration:none;
        color:black;
        font-size:18px;
        font-weight:500;
     }
}
/*
*******************************************************************
*******************************************************************
*******************************************************************
*/
@media (min-width:622px) and (max-width:722px) {
    
    .the-people-comments[b-c5m3qe6kzq] {
        overflow: hidden;
        flex-direction: column;
        gap: 100px;
    }
}


@media (min-width:622px) and (max-width:1237px){
    .mobile-model-div[b-c5m3qe6kzq] {
        display: flex;
        gap: 18px;
        height: 52px;
        width: 36%;
    }
    .info-div[b-c5m3qe6kzq] {
        height: 717px;
    }    .info-div .title[b-c5m3qe6kzq]{
             font-size:24px;
         }
 /**************************************************************//**************************************************************/

        .services-containar a:nth-child(6)[b-c5m3qe6kzq], .services-containar a:nth-child(5)[b-c5m3qe6kzq], .services-containar a:nth-child(3)[b-c5m3qe6kzq],
        .right-div[b-c5m3qe6kzq], .asked-questions-continar b[b-c5m3qe6kzq], .smartrx-p[b-c5m3qe6kzq], .pags-part-div[b-c5m3qe6kzq], .top-row[b-c5m3qe6kzq], .smartrx-last-div > p[b-c5m3qe6kzq], .info-div b[b-c5m3qe6kzq] {
            display: none;
        }
    
  /**************************************************************//**************************************************************/
  .services-info-div[b-c5m3qe6kzq]{
      height:1255px;
  }

    .services-type[b-c5m3qe6kzq] {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
  /****************************************************/

    .comment-viwe[b-c5m3qe6kzq] {
        left: 0;
        top: 2246px;
        width: 100%
    }

    .about-us-title h1[b-c5m3qe6kzq] {
        font-size: 22px;
    }

    .about-us-title[b-c5m3qe6kzq] {
        font-size: 14px;
    }
    /****************************************************************************/
    .left-div[b-c5m3qe6kzq], .Personal-data input[type="text"][b-c5m3qe6kzq], .Personal-data textarea[b-c5m3qe6kzq], .Personal-data input[type="email"][b-c5m3qe6kzq],
    .enter-email-div input[type="email"][b-c5m3qe6kzq], .smartrx-div[b-c5m3qe6kzq], .subscribe-div[b-c5m3qe6kzq], .model-smartrx[b-c5m3qe6kzq] {
        width: 100%
    }

    .contact-us-containar[b-c5m3qe6kzq]{
        padding:50px;
    }

    .copy-rights-containar[b-c5m3qe6kzq] {
        flex-direction: column;
        gap: 28px;
        height: 342px;

    }

    .smartrx-last-div[b-c5m3qe6kzq], .social-media-div[b-c5m3qe6kzq] {
        width: 100%;
        align-items: center;
    }

}
/* _content/SmartRx2/Components/Pages/QuestionsComponent.razor.rz.scp.css */
.asked-questions[b-0q4jfcnh0x] {
    width: 50%;
    background-color: white;
    height: 250px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;   
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

}
.questions[b-0q4jfcnh0x] {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.question-div[b-0q4jfcnh0x] {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.less-button[b-0q4jfcnh0x] {
    border: 0;
    background: transparent;
    height: 12%;
}

    .less-button img[b-0q4jfcnh0x] {
        width: 81%;
    }

@media (min-width:315px) and (max-width:620px){
    .asked-questions[b-0q4jfcnh0x]{
        width:100%;
    }
}

@media (min-width:622px) and (max-width:1237px){
    .asked-questions[b-0q4jfcnh0x]{
        width:100%;
    }
}
/* _content/SmartRx2/Components/Pages/ServicesComponent.razor.rz.scp.css */
.services-content[b-sn3q6ts1d8] {
    display: flex;
    width: 314px;
    height: 302px;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: -2px 4px 3px -4px #9f9f9fbd;
    border-radius: 12px;
    padding: 15px;
}

    .services-content img[b-sn3q6ts1d8] {
        width: 28%;
    }

@media (min-width:315px) and (max-width:620px){
    .services-content[b-sn3q6ts1d8] {
        align-items: center;
        width: 100%;
        height: 196px;
        gap: 10px;
    }
        .services-content img[b-sn3q6ts1d8] {
            width: 20%;
        }

    h3[b-sn3q6ts1d8] {
        font-size: 15px;
        font-weight: 700;
    }

    p[b-sn3q6ts1d8] {
        font-size: 12px;
        text-align: center;
    }
}


@media (min-width:622px) and (max-width:1237px){
    .services-content[b-sn3q6ts1d8] {
        width:100%;
        align-items:center;
    }
        .services-content img[b-sn3q6ts1d8] {
            width: 8%;
        }
    h3[b-sn3q6ts1d8] {
        font-size: 17px;
        font-weight: 600;
    }
}
