.comment[b-wie1v1w7fe] {
    width: 17%;
    height: 291px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 15px;
    border-radius: 13px;
    box-shadow: -3px 0px 8px -3px #6f6f6f;
}

    .comment img[b-wie1v1w7fe] {
        width: 40%;
    }

.user-div[b-wie1v1w7fe] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .user-div img[b-wie1v1w7fe] {
        width: 18%;
    }

@media (min-width:315px) and (max-width:620px){
    .comment[b-wie1v1w7fe] {
    width:100%;
    }
    .comment >img[b-wie1v1w7fe]{
        width:20%;

    }.comment p[b-wie1v1w7fe]{
         font-size:13px;
     }
}


@media (min-width:622px) and (max-width:722px){
    .comment[b-wie1v1w7fe] {
    width:100%;
    }
    .comment >img[b-wie1v1w7fe]{
        width:16%;

    }.comment p[b-wie1v1w7fe]{
         font-size:13px;
     }    
     .user-div img[b-wie1v1w7fe] {
        width: 10%;
    }

}

@media (min-width:724px) and (max-width:1237px){
    .comment[b-wie1v1w7fe] {
        width: 28%;
        height: 311px;
    }
}