@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <!--  <NavMenu />  -->
    </div>
    <br>
    <main>
        <article class="">
            @Body
        </article>
    </main>
</div>


