

<div class="nav-containar">
<div class="top-row ps-3 navbar navbar-dark">
    <div class="chevron-up">
        <img class="chevron-up-child" alt="" src="/Imgs/SmartRx-icon.svg" />

        <div class="input-copy-frame">
            <b class="smart4">Smart</b>
            <b class="rx4">RX</b>
        </div>
    </div>


</div>

    <div class="buttons-continar">
       <div class="button">
        <input type="checkbox" id="Home" class="home-put" />
        <label for="Home" class="button-label">Home</label>
       </div>

        <div class="button">
            <input type="checkbox" id="servicers" class="servicers-put" />
            <label for="servicers" class="button-label">servicers</label>
        </div>

        <div class="button">
            <input type="checkbox" id="testimonial" class="testimonial-put" />
            <label for="testimonial" class="button-label">testimonial</label>
        </div>

        <div class="button">
            <input type="checkbox" id="FAQS" class="faqs-put" />
            <label for="FAQS" class="button-label">FAQS</label>
        </div>

        <div class="button">
            <input type="checkbox" id="contact-us" class="contact-us-put" />
            <label for="contact-us" class="button-label">Contact Us</label>
        </div>

    </div>
<div class="sign-in-button">
    <button>Join Us <img src="/imgs/arrow-right-02-round.png" alt="Alternate Text" /> </button>
</div>

</div>


