*{
    box-sizing:border-box;
}
.nav-containar{
    width:100%;
    height:100%;
    display:flex;
    gap:170px
}

.top-row {
    height: 100%;
    padding: 10px;
    background-color: white;
    margin-left: 16px;
}

.buttons-continar {
    width: 40%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 54px;
}
.navbar-brand {
    font-size: 1.1rem;
}

.smart4 {
    height: 39px;
    font-size: 26px;
}

.input-copy-frame {
    flex-direction: row;
    color: #ffb050;
    display: flex;
    align-items: baseline;
}

.chevron-up {
    display: inline-flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
}

.chevron-up-child {
    height: 48.5px;
    width: 39.5px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.rx4,
.smart4 {
    position: relative;
    z-index: 1;
}

.smart4 {
    color: #4994FF;
}
.flex-column {
    margin-top: 10px;
}

.container-fluid {
    margin-top: 20px;
}
/***************************************************************************/
.home-put, .servicers-put, .testimonial-put, .faqs-put, .contact-us-put {
    display: none
}

input[type="checkbox"]:checked + .button-label {
    border-bottom: 1px green solid ;
}
/**************/
.sign-in-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
}

    .sign-in-button button {
        border: 0;
        border-radius: 30px;
        width: 100%;
        height: 38px;
        background-color: #ffb654;
        color: white;
        font-size: large;
    }