
*[b-6blxi9ymlb]{
    box-sizing:border-box;
}
.nav-containar[b-6blxi9ymlb]{
    width:100%;
    height:100%;
    display:flex;
    gap:170px
}

.top-row[b-6blxi9ymlb] {
    height: 100%;
    padding: 10px;
    background-color: white;
    margin-left: 16px;
}

.buttons-continar[b-6blxi9ymlb] {
    width: 40%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 54px;
}
.navbar-brand[b-6blxi9ymlb] {
    font-size: 1.1rem;
}

.smart4[b-6blxi9ymlb] {
    height: 39px;
    font-size: 26px;
}

.input-copy-frame[b-6blxi9ymlb] {
    flex-direction: row;
    color: #ffb050;
    display: flex;
    align-items: baseline;
}

.chevron-up[b-6blxi9ymlb] {
    display: inline-flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
}

.chevron-up-child[b-6blxi9ymlb] {
    height: 48.5px;
    width: 39.5px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.rx4[b-6blxi9ymlb],
.smart4[b-6blxi9ymlb] {
    position: relative;
    z-index: 1;
}

.smart4[b-6blxi9ymlb] {
    color: #4994FF;
}
.flex-column[b-6blxi9ymlb] {
    margin-top: 10px;
}

.container-fluid[b-6blxi9ymlb] {
    margin-top: 20px;
}
/***************************************************************************/
.home-put[b-6blxi9ymlb], .servicers-put[b-6blxi9ymlb], .testimonial-put[b-6blxi9ymlb], .faqs-put[b-6blxi9ymlb], .contact-us-put[b-6blxi9ymlb] {
    display: none
}

input[type="checkbox"]:checked + .button-label[b-6blxi9ymlb] {
    border-bottom: 1px green solid ;
}
/**************/
.sign-in-button[b-6blxi9ymlb] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
}

    .sign-in-button button[b-6blxi9ymlb] {
        border: 0;
        border-radius: 30px;
        width: 100%;
        height: 38px;
        background-color: #ffb654;
        color: white;
        font-size: large;
    }

/********************************************************************************/
@media (min-width:1002px) and (max-width:1445px){

    .nav-containar[b-6blxi9ymlb]{
        gap:75px;
    }
.buttons-continar[b-6blxi9ymlb]{
    width:56%
}

    
}
@media (min-width:315px) and (max-width:620px){
    .buttons-continar[b-6blxi9ymlb], .sign-in-button[b-6blxi9ymlb] {
        display: none;
    }


}


@media (min-width:622px) and (max-width:800px){
    .nav-containar[b-6blxi9ymlb]{
        gap:10px;
    }
    .buttons-continar[b-6blxi9ymlb]{
        width:55%;
        gap:10px;
    }
}@media (min-width:801px) and (max-width:1002px){
    .nav-containar[b-6blxi9ymlb] {
        gap: 29px;
    }

    .buttons-continar[b-6blxi9ymlb] {
        width: 53%;
        gap: 37px;
    }
 }