*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{background-color: #e3efff;
    height: 80vw;

}

.form>svg{
    width: 200px;
height: 300px;    
transform: translate(79.2vw, 0px)



}

.cotinar{
    font-family:'Gill Sans',Calibri, 'Trebuchet MS', sans-serif ;
    
   box-sizing:border-box;
   background-color: rgb(255, 255, 255);

width: 680px;
height: 750px;
padding: 20px;
margin: auto;
margin-top:5px;

}
.title{
 text-align: center;
 font-size: 50px;
}

.frist{
    padding-top: 20px;
}

.p1{
    padding-top: 20px;
}

.form2>svg{
   transform: translate(-34.3vw,-135px)
 
}