@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;

    background-color: #ECF4FF;
}

.main-cont {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    --font-changa: "Changa", sans-serif;

}


.Add-a-new-appointment-section {
    display: flex;
    padding: 20px;
    flex-direction: column;

}

.New-appointment-title {
    display: flex;
    width: 100%;
}

.New-appointment-title1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgba(1, 126, 245, 1);
    font-size: large;
}

.a-cont {
    display: flex;
    align-items: center;
}


.New-appointment-card {
    display: flex;
    width: 1000px;
    background-color: white;
    height: 890px;
    font-family: var(--font-changa);
    padding: 10px;
    font-size: x-small;
}


h2 {
    color: gray;
    font-style: normal;
}

input,textarea,select {
    font-family: var(--font-changa);
    font-size: medium;
}


.right-div {

    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#name,#Age,#Phone-Number,#Discount,#Reservation-number,#Police-station {
    padding: 10px;
    border-radius: 10px;
    height: 59.34px;

    border: 1.35px;
    background-color: #ECF4FF;
    width: 100%;
    border: 0;
}

#Phone-Number {
    width: 100%;
    direction: rtl;
    padding-right: 50px;

}

#location-select {
    background-color: #ECF4FF;
    border: 0;
    transform: translate(3px, -8px);

}

.Phone-Number-select-div {
    position: absolute;
    background-color: #ECF4FF;
    transform: translate(-5px, 28px);
}

#Reservation-type {
    padding: 10px;
    width: 80%;
    height: 59.34px;
    border-radius: 10px;
    border: 1.35px gray;
    background-color: #ECF4FF;
}

.Add-a-new-Reservation-type {
    background-color: #ECF4FF;
    color: rgba(46, 144, 250, 1);
    width: 59.5px;
    height: 59.5px;
    border: 0;
    font-size: 27px;
    border-radius: 10.79px;
}



.left-div {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.gendar-type-div {
    display: flex;
    width: 23%;
    justify-content: space-between;
}

label {
    font-family:var(--font-changa);

}

.The-address-div {
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select1,
.select2,
.select3 {
    border: 0;
    height: 59px;
    border-radius: 10.79px;
    text-align: center;
    background-color: #ECF4FF;
}

.select3 {
    width: 117px;
}

.select2 {
    width: 158px;

}

.select1 {
    width: 179px;
}

.hour {
    font-size: large;
}


#Governorate {
    width: 217.73px;
    height: 59px;
    border-radius: 10.79px;
    background-color: #ECF4FF;
    border: 0;
}

#Police-station {
    width: 217.73px;
    height: 59px;
    border-radius: 10.79px;

}

#comments {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 180.58px;
    border-radius: 10px;
    padding: 18px;
    background-color: #ECF4FF;
    border: 0;
}

.Reservation-appiontment-div {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

#Reservation-appiontment-min {
    width: 158px;
    height: 59px;
    border-radius: 10.79px;
    background-color: #ECF4FF;
    border: 0;
}

#Reservation-appiontment-hour {
    width: 158px;
    height: 59px;
    border-radius: 10.79px;
    background-color: #ECF4FF;
    border: 0;
}

h3 {
    font-family: var(--font-changa);
    font-size: 19px;
    color: rgba(52, 64, 84, 1);
}

.submit-returne {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.returne-button {
    background-color: #ECF4FF;
    color: rgba(1, 126, 245, 1);
    width: 118px;
    height: 56px;
    border-radius: 8.07px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: medium;
    margin-left: 8px;

}


.submit-button {
    background-color: rgba(1, 126, 245, 1);
    color: white;
    width: 118px;
    height: 56px;
    border-radius: 8.07px;
    border: 0;
}

@media(max-width:375px) {
    .New-appointment-card {
        flex-direction: column;
        height: 1620px;
        width: 362px;
    }

    .right-div {
        width: 100%;
    }

    .left-div {
        width: 100%;
    }

    .select3 {
        width: 46%;
    }

    .select2 {
        width: 50%;
    }

    .select1 {
        margin-top: 10px;
    }

    #Governorate {
        width: 129.73px;
    }

    #Police-station {
        width: 151.73px;
    }

    #comments {
        height: 126.58px;
    }

    .Reservation-appiontment-div {
        width: 83%;
    }

    #Reservation-appiontment-hour {
        width: 126px;
    }

    #Reservation-appiontment-min {
        width: 126px;
    }



}


@media(min-width:380px) and (max-width:770px) {
    .New-appointment-card {
        width: 100%;
        height: 881px;
    }

    .Add-a-new-appointment-section {
        width: 100%;
    }

    .select3 {
        width: 31%;
    }

    .select2 {
        width: 30%;
    }

    .select1 {
        width: 35%;
    }

    .The-address-div {
        width: 100%;
    }

    #Governorate {
        width: 162.73px;
    }

    #Police-station {
        width: 161.73px;
    }

    #comments {
        height: 133.58px;
    }

    .Reservation-appiontment-div {
        width: 94%;
    }

}

@media(min-width:772px) and (max-width:990px) {
    .Add-a-new-appointment-section {
        width: 100%;
    }

    .New-appointment-card {
        width: 100%;
    }

    .select3 {
        width: 31%;
    }

    .select2 {
        width: 30%;
    }

    .select1 {
        width: 35%;
    }
}